* {
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  height: 85px;
  background-image: url(../img/im0.jpg);
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
  margin-left: 100px;
}
.social {
  padding: 10px 100px;
}
.header img {
  padding-bottom: 10px;
}
.header p {
  display: inline-block;
  padding: 15px 10px;
  font-family: Lobster;
  color: orange;
  font-size: 40px;
}


.contents {
  min-height: calc(100vh - 220px);
}
._container {
  width: 1440px;
}
.contents > p {
  margin: 10px auto;
  font: 30px Lobster;
  text-align: center;
}

/*меню*/

.menu {
  /* clear: both;
  position: relative; */
  width: 100%;
  height: 57px;
  background-color: lightblue;
  margin: 0 auto;
  z-index: 1;
}

.menu > ul {
  list-style-type: none;
}

.menu > ul > li {
  width: 10%;
  height: 35px;
  font: 14px "Prosto one";
  font-size: 28px;
  padding-top: 10px;
  text-align: center;
  display: inline-block;
  /*float: left;*/
  margin-left: 10.382%;
}

li:hover,
a:hover {
  color: orange;
}

.menu>ul>li>ul {
  padding: 0;
  display: none;
  list-style-type: none;
  width: 160px;
  text-align: left;
}

.menu>ul>li:hover ul {
  display: block;
  background-color: lightblue;
  font-size: 10px;
  padding: 20px 0 20px 20px;
}

.menu>ul>li>ul>li {
  margin-bottom: 5px;
  font-size: 20px;
}

.side {
  /* clear: both; */
  width: 100%;
  margin: 50px auto;
  font-family: "Prosto one";
}

.side .last {
  margin-right: 0;
}

.adress {
  width: 90%;
  font-family: Comfortaa;
  margin: 0 auto;
}

.side h3,
.side h4,
.short,
.product {
  margin: 10px 20px;
}

.gambino {
  /*position: relative;*/
  background-image: url(../img/tub.png);
  background-repeat: no-repeat;
  background-position: center;
  margin: 50px 0 50px 0;
  width: 100%;
  height: 335px;
}

.afo {
  display: block;
  /* position: relative; */
  top: 33px;
  font: 30px Comfortaa;
  font-weight: 700;
  margin-top: 50px;
  text-align: center;
  z-index: 0;
}

.white_block {
  position: relative;
  float: left;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(188, 188, 188);
  background-image: -moz-linear-gradient( 90deg, rgb(0, 0, 0) 0%, rgb(255, 255, 255) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(0, 0, 0) 0%, rgb(255, 255, 255) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(0, 0, 0) 0%, rgb(255, 255, 255) 100%);
  box-shadow: inset 0px 2px 1px 0px rgba(255, 255, 255, 0.58);
  width: 214px;
  height: 267px;
  margin-left: 7.2%;
  margin-top: 10px;
}

.white_block span {
  font-size: 25px;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  line-height: 1;
  text-align: left;
}

.white_block img {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(241, 241, 241);
  background-color: rgb(115, 115, 115);
  opacity: 0.79;
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.6), inset 0px 2px 5px 0px rgba(0, 0, 0, 0.39);
  width: 202px;
  height: 175px;
  margin-left: 5px;
}

.add {
  border-radius: 3px;
  background-image: -moz-linear-gradient( 90deg, rgb(232, 70, 33) 0%, rgb(253, 95, 55) 86%);
  background-image: -webkit-linear-gradient( 90deg, rgb(232, 70, 33) 0%, rgb(253, 95, 55) 86%);
  background-image: -ms-linear-gradient( 90deg, rgb(232, 70, 33) 0%, rgb(253, 95, 55) 86%);
  box-shadow: 0px 2px 3px 0px rgba(223, 81, 40, 0.48), inset 0px 1px 0px 0px rgba(251, 96, 51, 0.53);
  width: 109px;
  height: 28px;
  margin: 40px 0 10px 10px;
  font: 14pt Arial, Helvetica, sans-serif;
  text-align: center;
}

fieldset {
  border: none;
}

.form_1 {
  width: 90%;
  height: 50%;
  margin: 10px auto;
}

.form_1 input:not([textarea]) {
  height: 30px;
}

.form_2 {
  background-color: lightpink;
  width: 90%;
  height: 30%;
  margin: 10px auto;
}

.form_1 p {
  width: 80%;
  /*margin: 10px 30px;*/
  font: 12px Comfortaa;
}

.form_2__radio {
  display: flex;
  flex-direction: column;
}

.form_2__radio p:first-child {
  font-size: 20px;
}

.form_2__radio p input {
  margin-bottom: 10px;
}

table {
  border-collapse: collapse;
  clear: left;
  margin: 30px auto;
  height: 85px;
  width: 70%;
}

td {
  border: 2px solid green;
  color: #F65121;
  text-align: center;
}

th {
  border: 2px solid green;
  background: #C6EAAC;
  color: black;
}

.foto {
  margin: 10px 0 10px 50px;
  float: left;
  width: 400px;
  height: 300px;
}

.short {
  overflow: hidden;
  margin: 1px 1px 1px 1px;
  width: 300px;
  height: 300px;
}

.product {
  clear: both;
  margin: 20px auto;
}

.wow {
  font: 30px Lobster;
  text-align: center;
  margin-top: 20px;
  color: orange;
}


/*конец тела*/


/*блок перед футером*/

.clr {
  display: table;
  vertical-align: middle;
  clear: both;
  height: 135px;
  width: 400px;
  margin: 0 auto;
}


/*Бренды*/

.brands {
  float: left;
  margin: 10px auto;
}


/*подвал*/

footer {
  clear: both;
  background-color: rgb(99, 99, 99);
  box-shadow: inset 0px 5px 9px 0px rgba(0, 0, 0, 0.08);
  width: 100%;
  height: 220px;
  padding-top: 10px;
}

footer div {
  float: left;
  width: 218px;
  height: 55%;
  margin: 30px 56px;
}

footer>div>p {
  clear: both;
  font-size: 15px;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  line-height: 1;
  text-align: left;
}

.many {
  color: red;
}

footer>div>p>a {
  color: rgb(255, 255, 255);
  line-height: 1.5;
}

footer>div>p>a:hover {
  background-color: rgb(99, 99, 99);
}

footer>div>p>a:visited {
  color: white;
}

footer input[type="search"] {
  margin-left: 30px;
}

footer>p {
  clear: both;
  text-align: right;
  margin-right: 20px;
}